* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif';
}

body {
    background-color: transparent;
}

:root {
    --text: #050505;
    --background: #fafafa;
    --primary: #c7bdc6;
    --secondary: #fad1f8;
    --accent: #e916db;
}

.dark-theme {
    --text: #fafafa;
    --background: #050505;
    --primary: #c7bdc6;
    --secondary: #2e052c;
    --accent: #f273e9;
}

.topBar {
    z-index: 4;
    text-shadow: var(--primary) 2px 2px 5px;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    font-size: 1.6rem;
    line-height: 60px;
    color: var(--text);
    background-color: var(--secondary);
    font-weight: bold;
    display: flex;
    display: inline-block;
    transition: all .35s;
}

.topBar > p {
    margin-left: 10px;
}

.topBar > label {
    margin-top: 15px;
    left: 95vw;
    margin-right: 10vw;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin: 0 0px;
    top: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: 0.4s;
    border-radius: 20px;
}

.switch input {
    display: none;
}

.slider::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: var(--primary);
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--accent);
}

input:checked + .slider::before {
    transform: translateX(100%);
}

.pageProgress {
    width: 100%;
    height: 10px;
    background-color: transparent;
    position: fixed;
    top: 60px;
    z-index: 5;
    transition: all .35s;
}

.progress {
    background-color: var(--accent);
    width: 0%;
    height: 100%;
    top: 0;
}

.section {
    opacity: 0;
    transform: translateX(-100%);
    height: 50vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: all .5s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.backgroundImg {
    position: absolute;
    background-size: contain;
    width: 70%;
    height: 65%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.backgroundTexture {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(102, 102, 102, 1), rgba(26, 26, 26, 1));
}

.section > button {
    z-index: 5;
    margin-top: 450px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary);
    border: var(--accent) 2px solid;
    color: var(--text);
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.section > button:hover {
    background-color: var(--secondary);
}

.link_wrapper {
    /* bottom: -330px; */
    position: relative;
}

a {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--secondary);
    text-align: center;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid var(--accent);
    transition: all .35s ease-in-out;
    z-index: 10;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon > svg {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: var(--accent);
    transition: all .35s;
}

a:hover{
    width: 200px;
    border: 3px solid var(--accent);
    background: transparent;
    color: var(--accent);
    transition: all .35s;
}

a:hover + .icon{
    z-index: 1;
    border: 3px solid var(--accent);
    right: -25%;
    transition: all .35s;
}

.section > p {
    color: var(--text);
    font-size: 3rem;
    position: relative;
    /* top: -350px; */
    text-shadow: var(--primary) 3px 3px 5px;
    font-weight: bold;
}